.post-style-1 .post-image-section{
    height: 400px;
}

.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.post-style-2{
    display: flex;
    flex-wrap: wrap;
}
.post-style-2 .post-image-section{
    flex:00 100px;
    max-width: width 100px;
    height:80px;
}
.post-style-2 .post-desc{
    flex:0 0 calc(100%-px);
    max-width:calc(10%-100px);
}
.event-section h2,
          .event-section p{
              text-align: center;
          }
