ul{
	list-style: none;
}

li{
	display: inline-block;
	position: relative;
	text-align: center;
	float: left;
	width: 13.33%; 
}
li a{
	display: block;
	text-decoration: none;	
	padding: 10px;

}
li a:hover{
	color: black;
}